<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../assets/css/site.css"/>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2 text-center">
            <h3>R@SMA - Chrome Plugin</h3>
        </div>
    </div>
    <div class="row fixed-bottom">
        <div class="col-lg-4 col-lg-offset-2 text-center">
            <button>Test</button>
        </div>
    </div>
</div>
</body>
</html>