<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="../../node_modules/bootstrap-select/dist/css/bootstrap-select.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap-slider/dist/css/bootstrap-slider.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.css">
    <link rel="stylesheet" href="../css/system/style.blue.css" id="theme-stylesheet">
    <link rel="stylesheet" href="../css/options.css"/>
</head>
<body>
<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger text-center" role="alert">
                    Exploit this page only if you are a developer.
                </div>
                <div class="heading text-center mt-3">
                    <h4>Current Options Values</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <nav id="options-values-nav" role="tablist" class="nav nav-tabs">
                    <a id="host-tab-link" data-toggle="tab" href="#host-tab" role="tab" aria-controls="host-tab"
                       aria-selected="true" class="nav-item nav-link active">
                        <i class="icon-star"></i>RS_Server Host
                    </a>
                </nav>
                <div id="options-values-tabs" class="tab-content">
                    <div id="host-tab" role="tabpanel" aria-labelledby="host-tab" class="tab-pane fade show active">
                        <h5 id="host-value" class="no-mb"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="options-sect" class="mt-3 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading text-center">
                    <h4>Set Options Values</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form id="options-form">
                    <div class="row">
                        <div class="col-12">
                            <label for="host">New host for a custom version of RS_Server</label>
                            <div class="form-row">
                                <div class="form-group col-3 text-right">
                                    <h5>http(s):&#47;&#47;</h5>
                                </div>
                                <div class="form-group col-8">
                                    <input id="host" type="text" class="form-control form-inline"
                                           placeholder="rs-server.herokuapp.com" value="rs-server.herokuapp.com">
                                </div>
                                <div class="form-group col-1 text-left">
                                    <h5>&#47;</h5>
                                </div>
                            </div>
                            <div class="alert alert-danger" role="alert">
                                Edit it only if you know what you're doing.
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button type="button" id="save-btn" class="btn btn-success btn-block">
                                <i class="fa fa-refresh fa-spin reload-icon"></i>
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="modal-refresh-label" aria-hidden="true"
     class="modal fade">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-refresh-label" class="modal-title">Options</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                        aria-hidden="true">X</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="box-simple box-dark same-height">
                            <h5 class="mb-0">Values updated successfully</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-12">
                        <button type="button" id="modal-confirm-btn" class="btn btn-success btn-block">
                            Okay!
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="../../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../node_modules/jquery.cookie/jquery.cookie.js"></script>
<script src="../../node_modules/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="../../node_modules/jquery.counterup/jquery.counterup.min.js"></script>
<script src="../../node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="../../node_modules/owl.carousel2.thumbs/dist/owl.carousel2.thumbs.min.js"></script>
<script src="../../node_modules/jquery-parallax.js/parallax.min.js"></script>
<script src="../../node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="../../node_modules/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script src="../../node_modules/jquery.scrollto/jquery.scrollTo.min.js"></script>
<script src="../../node_modules/parsleyjs/dist/parsley.min.js"></script>
<script src="../../node_modules/parsleyjs/dist/i18n/it.js"></script>
<script src="../js/system/front.js"></script>
<script src="../js/general.js"></script>
<script type="module" src="../js/shared.js"></script>
<script type="module" src="../js/options.js"></script>
</body>
</html>