<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
	<link rel="stylesheet" href="../../node_modules/bootstrap-select/dist/css/bootstrap-select.css">
	<link rel="stylesheet" href="../../node_modules/bootstrap-slider/dist/css/bootstrap-slider.css">
	<link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.css">
	<link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.css">
	<link rel="stylesheet" href="../../node_modules/dropzone/dist/dropzone.css">
	<link rel="stylesheet" href="../../node_modules/load-awesome/css/ball-grid-pulse.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/system/style.blue.css" id="theme-stylesheet">
	<link rel="stylesheet" href="../css/general.css"/>
	<link rel="stylesheet" href="../css/profile_update.css"/>
</head>
<body>
<div class="preloader-wrapper">
	<div class="preloader">
		<div style="color: #467fbf" class="la-ball-grid-pulse la-3x">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</div>
<div class="min-h-100 d-flex flex-column align-items-center justify-content-center">
	<div class="w-100 mb-3">
		<div id="buttons-sect" class="row">
			<div class="col-4 p-0">
				<button type="button" id="back-btn" class="btn btn-primary btn-block">
					<i id="back-icon" class="fa fa-arrow-left"></i>
					<i class="fas fa-sync-alt fa-spin reload-icon"></i>
				</button>
			</div>
			<div class="col-4 p-0">
				<button type="button" id="options-btn" class="btn btn-primary btn-block">
					<i id="options-icon" class="fas fa-cog"></i>
				</button>
			</div>
			<div class="col-4 p-0">
				<a href="http://readersourcing.org" target="_blank" id="readersourcing-btn" class="btn btn-primary btn-block">
					<i id="readersourcing-icon" class="fas fa-link"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="row w-100 ml-auto mt-auto mr-auto mb-3">
		<div class="col-12">
			<div class="heading text-center">
				<h4>Readersourcing 2.0</h4>
				<p class="lead mb-0">Update your profile here</p>
			</div>
		</div>
		<div class="col-lg-5 col-sm-8 col-xs-12 m-auto">
			<form id="sign-up-form" data-parsley-validate>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label for="first-name">First Name</label>
							<i class="ml-1 fas fa-sync-alt fa-spin reload-icon"></i>
							<input id="first-name" type="text" class="form-control" placeholder="" value="Fetching value..." required>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label for="last-name">Last Name</label>
							<i class="ml-1 fas fa-sync-alt fa-spin reload-icon"></i>
							<input id="last-name" type="text" class="form-control" placeholder="" value="Fetching value..." required>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label for="orcid">ORCID <span class="small">(e.g. 1234-1234-1234-1234)</span></label>
							<i class="ml-1 fas fa-sync-alt fa-spin reload-icon"></i>
							<input id="orcid" type="text" class="form-control" placeholder="" value="Fetching value..." data-parsley-orcid>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group no-mb">
							<input id="subscribe" type="checkbox">
							<i class="mr-1 fas fa-sync-alt fa-spin reload-icon"></i>
							<label for="subscribe">Subscribe (To Emails)</label>
						</div>
					</div>
					<div class="col-12 text-center">
						<section class="errors-sect text-left">
							<div role="alert" class="alert alert-danger"></div>
						</section>
						<button type="submit" id="update-btn" class="btn btn-success btn-block">
							Update
							<i id="check-icon" class="fa fa-check"></i>
							<i class="fas fa-sync-alt fa-spin reload-icon"></i>
						</button>
						<button type="button" class="btn btn-danger error-btn btn-block">
							<i class="fa fa-exclamation-triangle danger-icon"></i>
							Error
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="../../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../node_modules/jquery.cookie/jquery.cookie.js"></script>
<script src="../../node_modules/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="../../node_modules/jquery.counterup/jquery.counterup.min.js"></script>
<script src="../../node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="../../node_modules/owl.carousel2.thumbs/dist/owl.carousel2.thumbs.min.js"></script>
<script src="../../node_modules/jquery-parallax.js/parallax.min.js"></script>
<script src="../../node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="../../node_modules/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script src="../../node_modules/jquery.scrollto/jquery.scrollTo.min.js"></script>
<script src="../../node_modules/parsleyjs/dist/parsley.min.js"></script>
<script src="../../node_modules/parsleyjs/dist/i18n/it.js"></script>
<script src="../../node_modules/dropzone/dist/dropzone.js"></script>
<script src="../js/system/front.js"></script>
<script src="../js/general.js"></script>
<script type="module" src="../js/shared.js"></script>
<script type="module" src="../js/profile_update.js"></script>
</body>
</html>