<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
	<script src="https://kit.fontawesome.com/850c8c324f.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/r-2.2.2/rr-1.2.4/datatables.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap-select/dist/css/bootstrap-select.css">
	<link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap-slider/dist/css/bootstrap-slider.css">
	<link rel="stylesheet" type="text/css" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="../../node_modules/load-awesome/css/ball-grid-pulse.css">
	<link rel="stylesheet" type="text/css" href="../../node_modules/dropzone/dist/dropzone.css">
	<link rel="stylesheet" type="text/css" href="../css/system/style.blue.css" id="theme-stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/general.css"/>
	<link rel="stylesheet" type="text/css" href="../css/rating_web.css"/>
	<title>RS_Server</title>
</head>
<body class="bg-gray-dark">
<div class="preloader-wrapper">
	<div class="preloader">
		<div style="color: #467fbf" class="la-ball-grid-pulse la-3x">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</div>
<div class="color-white min-h-100 d-flex flex-column align-items-center justify-content-center">
	<div class="w-100 mb-3">
		<div id="buttons-sect" class="row">
			<div class="col-3 p-0">
				<button type="button" id="options-btn" class="btn btn-primary btn-block">
					<i id="options-icon" class="fa fa-cog"></i>
				</button>
			</div>
			<div class="col-3 p-0">
				<a href="https://readersourcing.org" target="_blank" id="readersourcing-btn" class="btn btn-primary btn-block">
					<i id="readersourcing-icon" class="fas fa-link"></i>
				</a>
			</div>
			<div class="col-3 p-0">
				<button data-toggle="modal" data-target="#modal-profile" id="profile-btn" class="btn btn-primary btn-block">
					<i id="profile-icon" class="fas fa-user"></i>
					<i class="fas fa-sync-alt fa-spin reload-icon"></i>
				</button>
			</div>
			<div class="col-3 p-0">
				<button type="button" id="logout-btn" class="btn btn-primary btn-block">
					<i id="sign-out-icon" class="fas fa-sign-out-alt"></i>
					<i class="fas fa-sync-alt fa-spin reload-icon"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="row m-auto w-100">
		<div id="rating-sect" class="col-12">
			<div class="heading text-center mb-1">
				<h4>Rate a publication</h4>
				<p id="rating-caption-first" class="lead mb-0 text-justify">Use the slider below to select a rating for the current publication.</p>
				<p id="rating-caption-second" class="lead mb-0 text-justify">A rating for the current publication is already present.</p>
			</div>
		</div>
		<div id="loading-sect" class="col-12">
			<div class="heading text-center">
				<h4>Fetch a new publication</h4>
				<p id="check-par" class="lead mb-0">Checking if there is a fetchable publication in PDF format...</p>
			</div>
			<div class="text-center mt-3">
				<h1><i class="fas fa-sync-alt fa-spin"></i></h1>
			</div>
		</div>
		<div id="undetected-publication-sect" class="col-12 text-center">
			<div class="heading text-center mb-0">
				<h4>Publication Not Found</h4>
				<p class="lead mb-0 text-justify">This page does not contain a rateable publication.</p>
			</div>
			<div class="heading text-justify mb-0">
				<p class="mb-0">
					<small>Visit a page which contains a PDF file to see the rating interface.</small>
				</p>
			</div>
			<div id="accordion" role="tablist" class="undetected-publication-details col-12 accordion-dark">
				<div class="card mb-0">
					<div id="headingOne" role="tab" class="card-header pb-0">
						<h5 class="mb-0">
							<a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="color-white collapsed">Details
								<small>(Click to toggle)</small>
							</a>
						</h5>
					</div>
				</div>
				<div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" class="collapse collapsed" style="">
					<div class="card-body">
						<div class="row">
							<section class="col-12 errors-sect text-justify" style="">
								<div role="alert" class="alert alert-danger mb-0"><span class="color-red-dark">Errors:</span><ul><li class="color-red-dark">Invalid argument @ rb_sysopen - chrome://extensions/?id=lnlhlgidobhjgelpcelpjleodifdnjbo</li></ul></div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 text-center rating-controls mb-2">
			<input
				id="rating-slider"
				data-slider-id='ratingSlider'
				data-slider-min="0"
				data-slider-max="100"
				data-slider-step="1"
				data-slider-value="50"
				data-tooltip="hide"
				title="Rating Slider"
			/>
		</div>
		<div class="col-12 m-auto text-center">
			<h1 id="rating-text"><i class="fas fa-sync-alt fa-spin"></i></h1>
		</div>
		<div class="col-12 mt-auto ml-auto mr-auto mb-3 text-center">
			<section class="errors-sect text-left">
				<div role="alert" class="alert alert-danger"></div>
			</section>
			<button type="button" id="load-rate-btn" class="btn btn-primary">
				<span>Loading... </span>
				<i class="fas fa-sync-alt fa-spin"></i>
			</button>
			<button type="button" id="do-rate-btn" class="rating-button w-35 btn btn-success m-auto">
				<i class="fas fa-sync-alt fa-spin reload-icon"></i>
				Rate
			</button>
			<button data-toggle="modal" data-target="#modal-configuration" id="configure-btn"
			        class="rating-button btn btn-primary link-white" data-turbolinks="false">
				<i class="fas fa-cog"></i>
			</button>
			<button type="button" id="do-rate-success-btn" class="btn btn-success w-35">
				<i class="fas fa-sync-alt fa-spin reload-icon"></i>
				Rating saved
			</button>
			<button type="button" id="update-rate-btn" class="rating-button btn btn-success w-35">
				<i class="fas fa-sync-alt fa-spin reload-icon"></i>
				<span>Confirm</span>
			</button>
			<button type="button" id="edit-rate-btn" class="rating-button btn btn-primary">
				<i class="fas fa-edit"></i>
				Edit
			</button>
			<button type="button" class="btn btn-danger error-btn w-35">
				<i class="fa fa-exclamation-triangle danger-icon"></i>
				Error
			</button>
		</div>
	</div>
	<div class="row mt-auto ml-auto mr-auto mb-3 w-100">
		<div class="col-12">
			<div class="heading text-center mb-2">
				<h4>Save For Later</h4>
				<p id="save-for-later-caption-first" class="lead mb-0 text-justify">Link-annotate a publication with a rating URL and store it on your devices.</p>
				<p id="save-for-later-caption-second" class="lead mb-0 text-justify">Click below to open your link-annotated publication or to refresh it.</p>
			</div>
		</div>
		<div class="col-12 text-center">
			<section class="errors-sect text-left">
				<div role="alert" class="alert alert-danger"></div>
			</section>
			<button type="button" id="load-save-btn" class="btn btn-primary m-0">
				<span>Loading... </span>
				<i class="fas fa-sync-alt fa-spin"></i>
			</button>
			<button type="button" id="download-btn" class="rating-button btn btn-primary w-35 m-0">
				<span>Download</span>
				<i class="fas fa-sync-alt fa-spin reload-icon"></i>
			</button>
			<button id="open-btn" class="rating-button btn btn-primary link-white w-35">
				Open
			</button>
			<button id="refresh-btn" class="rating-button btn btn-primary link-white">
				<i class="fas fa-sync-alt"></i>
			</button>
			<button type="button" id="error-btn" class="btn btn-danger w-35 error-btn m-0">
				<i class="fa fa-exclamation-triangle danger-icon"></i>
				Error
			</button>
		</div>
	</div>
	<div class="row m-auto w-100">
		<div class="col-12">
			<div class="heading text-center mb-1">
				<h4>Automatic extraction</h4>
				<p id="extract-caption-first" class="lead mb-0 text-justify">Upload here your link-annotated publication to extract the rating URL.</p>
				<p id="extract-caption-second" class="lead mb-0 text-justify">Click below to go to the rating page.</p>
			</div>
		</div>
		<div class="col-12">
			<form action="http://localhost:3000/publications/extract.json" id="annotated-publication-dropzone" class="dropzone border-primary">
				<div class="dz-default dz-message text-center pt-1">
					<br/><i class="fas fa-upload fa-2x"></i><br/>.pdf file
				</div>
			</form>
		</div>
		<div class="col-12 mt-3 ml-auto mr-auto mb-auto">
			<div role="alert" id="dropzone-success" class="alert alert-success"></div>
		</div>
		<div class="col-12 m-auto text-center">
			<a href="" id="go-to-rating-btn" target="_blank" class="btn btn-primary w-35 link-white">
				Rating Page
				<i class="fas fa-arrow-right"></i>
			</a>
		</div>
		<div class="col-12 mt-2">
			<div role="alert" id="dropzone-error" class="alert alert-danger color-red-dark mb-2"></div>
		</div>
	</div>
</div>
<div id="modal-profile" tabindex="-1" role="dialog" aria-labelledby="modal-profile-label" aria-hidden="true" class="modal fade">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="modal-profile-label" class="modal-title color-dark">User Profile</h4>
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
					aria-hidden="true">X</span></button>
			</div>
			<div class="modal-body">
				<section id="user-score-sect">
					<div class="row">
						<div class="col-12">
							<div class="box-simple box-dark same-height">
								<p class="lead no-mt">First Name</p>
								<span id="first-name-val"><i class="fas fa-sync-alt fa-spin"></i></span>
							</div>
						</div>
						<div class="col-12">
							<div class="box-simple box-dark same-height">
								<p class="lead no-mt">Last Name</p>
								<span id="last-name-val"><i class="fas fa-sync-alt fa-spin"></i></span>
							</div>
						</div>
						<div class="col-12">
							<div class="box-simple box-dark same-height">
								<p class="lead no-mt">Email</p>
								<span id="email-val"><i class="fas fa-sync-alt fa-spin"></i></span>
							</div>
						</div>
						<div class="col-12">
							<div class="box-simple box-dark same-height">
								<p class="lead no-mt">Score (RSM)</p>
								<span id="user-score-rsm-val"><i class="fas fa-sync-alt fa-spin"></i></span>/100
							</div>
						</div>
						<div class="col-12">
							<div class="box-simple box-dark same-height">
								<p class="lead no-mt">Score (TRM)</p>
								<span id="user-score-trm-val"><i class="fas fa-sync-alt fa-spin"></i></span>/100
							</div>
						</div>
						<div class="col-12">
							<div class="box-simple box-dark same-height">
								<p class="lead no-mt">ORCID</p>
								<span id="orcid-val"><i class="fas fa-sync-alt fa-spin"></i></span>
							</div>
						</div>
						<div class="col-12">
							<div class="box-simple box-dark same-height">
								<p class="lead no-mt">Subscribed (Emails)</p>
								<span id="subscribe-val"><i class="fas fa-sync-alt fa-spin"></i></span>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="modal-footer">
				<div class="row m-auto w-100">
					<div class="col-12 mb-1 p-0">
						<a href="profile_update.html" id="profile-update-btn" class="btn btn-primary btn-block link-white">
							Update Profile
							<i class="fas fa-sync-alt fa-spin reload-icon"></i>
						</a>
					</div>
					<div class="col-12 p-0">
						<a href="password_update.html" id="password-edit-btn" class="btn btn-primary btn-block link-white">
							Edit Password
							<i class="fas fa-sync-alt fa-spin reload-icon"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modal-configuration" tabindex="-1" role="dialog" aria-labelledby="modal-profile-label" aria-hidden="true"
     class="modal fade">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="modal-configuration-label" class="modal-title color-dark">Rating Config</h4>
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
					aria-hidden="true">X</span></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12 text-center pt-2">
						<input class="form-check-input m-auto" type="checkbox" value="" id="anonymize-check">
						<label class="form-check-label" for="anonymize-check">
							<strong>Anonymize</strong>
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row m-auto w-100">
					<div class="col-12 p-0">
						<button type="button" id="configuration-save-btn" class="btn btn-success btn-block">
							Save
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modal-refresh" tabindex="-1" role="dialog" aria-labelledby="modal-refresh-label" aria-hidden="true"
     class="modal fade">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="modal-refresh-label" class="modal-title color-dark">Refresh</h4>
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
					aria-hidden="true">X</span></button>
			</div>
			<div class="row">
				<div class="col-12 text-center">
					<strong>Click Below To Refresh</strong>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row w-100 m-auto">
					<div class="col-12 p-0">
						<button type="button" id="modal-refresh-btn" class="btn btn-success btn-block">
							Okay!
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="../../node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="../../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../../node_modules/jquery.cookie/jquery.cookie.js"></script>
<script type="text/javascript" src="../../node_modules/waypoints/lib/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="../../node_modules/jquery.counterup/jquery.counterup.min.js"></script>
<script type="text/javascript" src="../../node_modules/js-cookie/src/js.cookie.js"></script>
<script type="text/javascript" src="../../node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
<script type="text/javascript" src="../../node_modules/owl.carousel2.thumbs/dist/owl.carousel2.thumbs.min.js"></script>
<script type="text/javascript" src="../../node_modules/jquery-parallax.js/parallax.min.js"></script>
<script type="text/javascript" src="../../node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="../../node_modules/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script type="text/javascript" src="../../node_modules/jquery.scrollto/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="../../node_modules/parsleyjs/dist/parsley.min.js"></script>
<script type="text/javascript" src="../../node_modules/parsleyjs/dist/i18n/it.js"></script>
<script type="text/javascript" src="../../node_modules/dropzone/dist/dropzone.js"></script>
<script type="text/javascript" src="../js/system/front.js"></script>
<script type="text/javascript" src="../js/general.js"></script>
<script type="module" src="../js/shared.js"></script>
<script type="module" src="../js/rating_web.js"></script>
</body>
</html>