<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="../../node_modules/bootstrap-select/dist/css/bootstrap-select.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap-slider/dist/css/bootstrap-slider.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.css">
    <link rel="stylesheet" href="../css/system/style.blue.css" id="theme-stylesheet">
    <link rel="stylesheet" href="../css/general.css"/>
    <link rel="stylesheet" href="../css/rating.css"/>
</head>
<body>
<section id="buttons-sect">
    <div class="container fixed-top bg-primary">
        <div class="row">
            <div class="col-2 p-0 btn-group">
                <a href="#" data-toggle="modal" data-target="#modal-profile" id="profile-btn"
                   class="btn btn-primary">
                    <i id="profile-icon" class="fa fa-user"></i>
                    <i class="fa fa-refresh fa-spin reload-icon"></i>
                </a>
            </div>
            <div class="col-8 p-0 btn-group">
                <button type="button" id="logout-btn" class="btn btn-primary">
                    Logout
                    <i id="sign-out-icon" class="fa fa-sign-out"></i>
                    <i class="fa fa-refresh fa-spin reload-icon"></i>
                </button>
            </div>
            <div class="col-2 p-0 btn-group">
                <button type="button" id="options-btn" class="btn btn-primary">
                    <i id="options-icon" class="fa fa-cog"></i>
                </button>
            </div>
        </div>
    </div>
</section>
<section id="login-sect" class="bar-tb bg-gray-dark no-mb color-white">
    <div class="container">
        <div class="row">
            <div class="col-12 heading text-center">
                <h4>Readersourcing 2.0</h4>
                <p class="lead mb-0">Welcome, choose your action</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="login.html" id="login-btn" class="btn btn-primary btn-block">
                    Login
                    <i id="sign-in-icon" class="fa fa-sign-in"></i>
                    <i class="fa fa-refresh fa-spin reload-icon"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-3">
                <p class="lead mb-3">Otherwise</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="registration.html" id="sign-up-btn" class="btn btn-primary btn-block">
                    Sign Up
                    <i id="sign-up-icon" class="fa fa-user-plus"></i>
                    <i class="fa fa-refresh fa-spin reload-icon"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="rating-sect" class="bar-tb bg-gray-dark pb-4 color-white">
    <div class="container">
        <div class="row">
            <div class="col-12 heading text-center">
                <h4>Readersourcing 2.0</h4>
                <p id="rating-caption" class="lead mb-0">Rate this publication</p>
                <p id="rating-subcaption" class="lead mb-0">Publication rated with score</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <input
                        id="rating-slider"
                        data-slider-id='ratingSlider'
                        data-slider-min="0"
                        data-slider-max="100"
                        data-slider-step="1"
                        data-slider-value="50"
                        data-tooltip="hide"
                        title="Rating Slider"
                />
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h1 id="rating-text" class="mt-3"><i class="fa fa-refresh fa-spin"></i></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button type="button" id="load-rate-btn" class="btn btn-primary">
                    <i class="fa fa-refresh fa-spin"></i>
                </button>
                <button type="button" id="vote-btn" class="btn btn-success">
                    <i class="fa fa-refresh fa-spin reload-icon"></i>
                    Rate
                </button>
                <a href="#" data-toggle="modal" data-target="#modal-configuration" id="configure-btn"
                   class="btn btn-primary">
                    <i class="fa fa-cog"></i>
                </a>
                <button type="button" id="vote-success-btn" class="btn btn-success">
                    <i class="fa fa-refresh fa-spin reload-icon"></i>
                    Rating saved
                </button>
                <button type="button" class="btn btn-danger error-btn">
                    <i class="fa fa-exclamation-triangle danger-icon"></i>
                    Error
                </button>
            </div>
        </div>
        <div id="buttons-caption" class="row">
            <div class="col-12 text-center mt-3">
                <p class="lead mb-3">Otherwise</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button type="button" id="load-save-btn" class="btn btn-primary">
                    <i class="fa fa-refresh fa-spin"></i>
                </button>
                <a href="#" id="download-btn" class="btn btn-primary" target="_blank">
                    Download
                </a>
                <button type="button" id="save-btn" class="btn btn-primary">
                    <i class="fa fa-refresh fa-spin reload-icon"></i>
                    Save For Later
                </button>
                <a href="#" data-toggle="modal" data-target="#modal-refresh" id="refresh-btn"
                   class="btn btn-primary">
                    <i class="fa fa-refresh"></i>
                </a>
                <button type="button" id="error-btn" class="btn btn-danger error-btn">
                    <i class="fa fa-exclamation-triangle danger-icon"></i>
                    Error
                </button>
            </div>
        </div>
    </div>
</section>
<section id="publication-score-sect" class="bg-primary no-mb color-white">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center btn">
                Pub. score (RSM): <span id="publication-score-rsm-val"></span>/100
            </div>
            <div class="col-12 text-center btn">
                Pub. score (TRM): <span id="publication-score-trm-val"></span>/100
            </div>
        </div>
    </div>
</section>
<div id="modal-profile" tabindex="-1" role="dialog" aria-labelledby="modal-profile-label" aria-hidden="true"
     class="modal fade">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-profile-label" class="modal-title">User Profile</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                        aria-hidden="true">X</span></button>
            </div>
            <div class="modal-body">
                <section id="user-score-sect">
                    <div class="row">
                        <div class="col-12">
                            <h5>Your first name: <span id="first-name-val"></span></h5>
                            <h5>Your last name: <span id="last-name-val"></span></h5>
                            <h5>Your email: <span id="email-val"></span></h5>
                            <h5>Your ORCID: <span id="orcid-val"></span></h5>
                            <h5>Subscribed (to emails): <span id="subscribe-val"></span></h5>
                            <h5>Your score (RSM): <span id="user-score-rsm-val"></span>/100</h5>
                            <h5 class="no-mb">Your score (TRM): <span id="user-score-trm-val"></span>/100</h5>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-12 mb-1 text-center">
                        <a href="profile_update.html" id="profile-update-btn" class="btn btn-primary btn-block">
                            Update Profile
                        </a>
                    </div>
                    <div class="col-12 text-center">
                        <button type="button" id="modal-password-edit-btn" class="btn btn-primary btn-block">
                            Edit Password
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-configuration" tabindex="-1" role="dialog" aria-labelledby="modal-profile-label" aria-hidden="true"
     class="modal fade">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-options-label" class="modal-title">Rating Config</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                        aria-hidden="true">X</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <input class="form-check-input" type="checkbox" value="" id="anonymize-check">
                        <label class="form-check-label" for="anonymize-check">
                            <strong>Anonymize</strong>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-12">
                        <button type="button" id="configuration-save-btn" class="btn btn-success btn-block">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-refresh" tabindex="-1" role="dialog" aria-labelledby="modal-refresh-label" aria-hidden="true"
     class="modal fade">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-refresh-label" class="modal-title">Refresh</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                        aria-hidden="true">X</span></button>
            </div>
            <div class="modal-body">
                <h5 class="mb-0">Do you want to save this publication for later again?</h5>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="button" id="modal-refresh-btn" class="btn btn-success btn-block">
                            Confirm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="preloader">
    <div class="container">
        <div class="row">
            <div id="wheel" class="col-12 centered">
                <svg viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <symbol id="s--circle">
                        <circle r="10" cx="20" cy="20"></circle>
                    </symbol>
                    <g class="g-circles g-circles--v1">
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</section>
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="../../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../node_modules/jquery.cookie/jquery.cookie.js"></script>
<script src="../../node_modules/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="../../node_modules/jquery.counterup/jquery.counterup.min.js"></script>
<script src="../../node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="../../node_modules/owl.carousel2.thumbs/dist/owl.carousel2.thumbs.min.js"></script>
<script src="../../node_modules/jquery-parallax.js/parallax.min.js"></script>
<script src="../../node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="../../node_modules/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script src="../../node_modules/jquery.scrollto/jquery.scrollTo.min.js"></script>
<script src="../../node_modules/js-cookie/src/js.cookie.js"></script>
<script src="../../node_modules/parsleyjs/dist/parsley.min.js"></script>
<script src="../../node_modules/parsleyjs/dist/i18n/it.js"></script>
<script src="../js/system/front.js"></script>
<script src="../js/general.js"></script>
<script type="module" src="../js/shared.js"></script>
<script type="module" src="../js/rating.js"></script>
</body>
</html>