<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="../../node_modules/bootstrap-select/dist/css/bootstrap-select.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap-slider/dist/css/bootstrap-slider.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.css">
    <link rel="stylesheet" href="../css/system/style.blue.css" id="theme-stylesheet">
    <link rel="stylesheet" href="../css/general.css"/>
    <link rel="stylesheet" href="../css/registration.css"/>
</head>
<body>
<section id="buttons-sect">
    <div class="container fixed-top bg-primary">
        <div class="row">
            <div class="col-2 p-0 btn-group">
                <button type="button" id="back-btn" class="btn btn-primary">
                    <i id="back-icon" class="fa fa-arrow-left"></i>
                    <i class="fa fa-refresh fa-spin reload-icon"></i>
                </button>
            </div>
            <div class="col-2 offset-8 p-0 btn-group">
                <button type="button" id="options-btn" class="btn btn-primary">
                    <i id="options-icon" class="fa fa-cog"></i>
                </button>
            </div>
        </div>
    </div>
</section>
<section id="registration-sect" class="bar-tb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading text-center">
                    <h4>Readersourcing 2.0</h4>
                    <p class="lead mb-0">You will get a confirmation mail</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form id="sign-up-form" data-parsley-validate>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="first-name">First Name</label>
                                <input id="first-name" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="last-name">Last Name</label>
                                <input id="last-name" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="email">Email <span class="small">(e.g. address@example.com)</span></label>
                                <input id="email" type="text" class="form-control"  placeholder="" data-parsley-type="email" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="orcid">ORCID <span class="small">(e.g. 1234-1234-1234-1234)</span></label>
                                <input id="orcid" type="text" class="form-control" placeholder="" data-parsley-orcid>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="password">Password </label>
                                <input id="password" type="password" class="form-control" placeholder="" data-parsley-minlength="6" data-parsley-password required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="password-confirmation">Password (Confirmation)</label>
                                <input id="password-confirmation" type="password" class="form-control" placeholder="" data-parsley-minlength="6" data-parsley-password required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group no-mb">
                                <input id="subscribe" type="checkbox">
                                <label for="subscribe">Subscribe (To Emails)</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <hr class="mb-2 mt-0"/>
                        </div>
                        <div class="col-12">
                            <p class="text-sm text-center">
                                <small><a href="login.html">You already have an account?</a></small>
                            </p>
                        </div>
                        <div class="col-12 text-center">
                            <section id="errors-sect" class="text-left">
                                <div role="alert" class="alert alert-danger"></div>
                            </section>
                            <button type="submit" id="sign-up-btn" class="btn btn-success btn-block">
                                Sign Up
                                <i id="sign-up-icon" class="fa fa-user-plus"></i>
                                <i class="fa fa-refresh fa-spin reload-icon"></i>
                            </button>
                            <button type="button" class="btn btn-danger error-btn btn-block">
                                <i class="fa fa-exclamation-triangle danger-icon"></i>
                                Error
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section id="preloader">
    <div class="container">
        <div class="row">
            <div id="wheel" class="col-12 centered">
                <svg viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <symbol id="s--circle">
                        <circle r="10" cx="20" cy="20"></circle>
                    </symbol>
                    <g class="g-circles g-circles--v1">
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                        <g class="g--circle">
                            <use xlink:href="#s--circle" class="u--circle"/>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</section>
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="../../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../node_modules/jquery.cookie/jquery.cookie.js"></script>
<script src="../../node_modules/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="../../node_modules/jquery.counterup/jquery.counterup.min.js"></script>
<script src="../../node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="../../node_modules/owl.carousel2.thumbs/dist/owl.carousel2.thumbs.min.js"></script>
<script src="../../node_modules/jquery-parallax.js/parallax.min.js"></script>
<script src="../../node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="../../node_modules/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script src="../../node_modules/jquery.scrollto/jquery.scrollTo.min.js"></script>
<script src="../../node_modules/parsleyjs/dist/parsley.min.js"></script>
<script src="../../node_modules/parsleyjs/dist/i18n/it.js"></script>
<script src="../js/system/recaptcha.js"></script>
<script src="../js/system/front.js"></script>
<script src="../js/general.js"></script>
<script type="module" src="../js/shared.js"></script>
<script type="module" src="../js/registration.js"></script>
</body>
</html>