/* ////////// GENERAL ////////// */

body {
    height: 255px;
    width: 300px;
}

/* ////////// PRELOADER ////////// */

#preloader {
    background-color: white;
}

/* ////////// TOP BUTTONS ////////// */

button#back-btn {
    padding-left: 26%;
}