/* ////////// PRELOADER ////////// */

#preloader {
    background-color: rgb(85, 85, 85);
}

/* ////////// GENERAL ////////// */

body, html {
    background-color: rgb(85, 85, 85);
}

/* ////////// BUTTONS ////////// */

button#logout-btn {
    padding-left: 26%;
}

a#profile-btn {
    color: white;
    width: 100%;
    border: 0 !important;
}

/* ////////// RATING ////////// */

#rating-slider .slider-selection {
    background: white;
}

.slider-handle {
    background-image: -webkit-linear-gradient(top, #467fbf 0%, #467fbf 100%) !important;
    background-image: -o-linear-gradient(top, #467fbf 0%, #467fbf 100%) !important;
    background-image: linear-gradient(to bottom, #467fbf 0%, #467fbf 100%) !important;
}

/* ////////// SCORES ////////// */

#score-sect div {
    cursor: default !important;
}
